<div class="item" [id]="type+index" [attr.data-id] = "type+index">
  <div class="item__title">{{blockTitle}}</div>
  <div class="item__blocks">
    <div class="item__number item__number--green">24.0</div>
    <div class="item__number item__number--red">173.0</div>
    <div class="item__number item__number--yellow">41.0</div>
    <div class="item__number item__number--gray">12.0</div>
  </div>
  <div class="item__controls">
    <mat-icon>people</mat-icon>
    <div>Про подразделение</div>
    <div>Раскрыть подразделение</div>
  </div>
  <div class="item__add">
    <mat-icon>add_circle_outline</mat-icon>
  </div>
</div>
