<div class="navigation">
  <div class="menuToggle" #menuToggle  (click)="toggleMenu(menuToggle)">

  </div>

  <div class="menu">
    <ul>
      <li style="--i:0.1s">
        <a href="">
          <mat-icon>photo_camera</mat-icon>
        </a>
      </li>

      <li style="--i:0.2s">
        <a href="">
          <mat-icon>settings</mat-icon>
        </a>
      </li>

      <li style="--i:0.3s">
        <a href="">
          <mat-icon>delete</mat-icon>
        </a>
      </li>
    </ul>
  </div>
</div>
